*{
    margin: 0;
    padding: 0;
    
}
.box{
    display: flex;
}
a{
    text-decoration: none;
}
.btn-all{
    width: 410px;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 600;
    font-size: 20px;
    background: #11175D;
    padding: 20px 0px;
    color: white;
    border-radius: 8px;
    border: 0;
    cursor: pointer;   
}

@media (min-width: 320px) and (max-width: 800.99px){
    .btn-all{
        width: 355px;    
    }
}



/*================ Registration  Part Start =============*/
.loader{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
}
.registration{
    padding: 0
}
.registration .box .one{
    width: 50%;
}

#outlined-basic{
    width: 380px;
}
.registration .box .one h1{
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 700;
    font-size: 34px;
    color: #11175D;
    margin-bottom: 12px;
}
.registration .box .one p{
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 400;
    font-size: 20px;
    color: #11175D;
    margin-bottom: 34px;
}

.registration .box .one .from{
    width: 497px;
    margin-left: auto;
    margin-top: 100px;
    
}

.registration .box .one .from .from-item{
 position: relative; 
}
.registration .box .one .from .from-item .icon-eye{
 position: absolute;
 top: 50%;
 transform: translateY(-50%);
 right: 100px;
 cursor: pointer; 
}
.registration .box .one .from .from-item .icon-top{
 position: absolute;
 top: 20px;
 right: 100px;
 cursor: pointer; 
}

.registration .box .one .from .input-part{
  position: relative; 
  margin-bottom: 20px; 
}
.registration .box .one .from .input-margin{
  position: relative; 
  margin-bottom: 10px; 
}
.registration .box .one .from  .alert{
    max-width: 75%
}


.registration .box .one .from h4{
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 700;
    font-size: 14px;
    color: #11175D;
    width: 80%;
    text-align: center;
    padding-top: 20px;
}
.registration .box .one .from span{
    color: orange;
}


.registration .box .two{
    width: 50%;
}


.registration .box .two img{
    height: 100vh;
    width: 100%;
    display: block;
    object-fit: cover;
}

/* Responsive  */
@media (min-width: 320px) and (max-width: 800.99px){
    .registration{
        padding: 20px 0px
    }
  
  
    .registration .box{
        flex-direction: column-reverse;
        justify-content: center;
    }
    .registration .box .one{
        width: auto;
    }
    .registration .box .two{
        width: auto;
    }
    .registration .box .one .from{
        width: 360px;
        margin: 0 auto ;
        margin-top: 30px;
        
    }
    .registration .box .one h1 {
        font-size: 20px; 
        text-align: center;
        
    }
    .registration .box .one p {
        font-size: 14px;
        text-align: center;
    }

   .registration .box .two img {
	width: 250px;
	height: 250px;
	object-fit: cover;
	margin: 0 auto;
    border-radius: 100%;
  }


.registration .box .one .from .from-item .icon-eye{
    right: 20px;
   }
   .registration .box .one .from  .alert{
    max-width: 340px;
   }
   .registration .box .one .from .from-item .icon-top {
	right: 20px;
   }
}


/*================ Registration  Part End =============*/

/*================ Login  Part Start =============*/
.login{
    padding: 0;
}
.login .box .one{
    width: 50%;
}

.login .box .one h1{
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 700;
    font-size: 34px;
    color: #11175D;
    margin-bottom: 12px;
}


.login .box .one .from{
    width: 497px;
    margin-left: auto;
    margin-top: 100px;
    
}
.login .box .one .from h6{
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: red;
    margin-top: 4px;
}
.login .box .one .goggle{
   cursor: pointer;
   margin: 30px 0px;
   display: flex;
   align-items: center;
   gap: 9px;
   border: 2px solid rgb(194, 191, 191);
   width: 200px;
   justify-content: center;
   padding: 10px 0px;
   border-radius: 5px;
}
.login .box .one .goggle img{
   width: 20px;
}
.login .box .one .goggle .title{
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 13px;
    color: #11175D;
}
.login .box .one .from .input-part{
  position: relative; 
  margin-bottom: 20px; 
}
.login .box .one .from .input-part .icon-eye{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 100px;
    cursor: pointer; 
   }
.login .box .one .from p{
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 400;
    font-size: 14px;
    color:#11175D;
    width: 80%;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 10px;
}
.login .box .one .from h4{
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 700;
    font-size: 14px;
    color: #11175D;
    width: 80%;
    text-align: center;
 
}
.login .box .one .from span{
    color: orange;
}


.login .box .two{
    width: 50%;
}


.login .box .two img{
    height: 100vh;
    width: 100%;
    display: block;
    object-fit: cover;
}


/* Responsive  */
@media (min-width: 320px) and (max-width: 800.99px){
    .login{
        padding: 20px 0px;
    }
    .css-9ddj71-MuiInputBase-root-MuiOutlinedInput-root {
        width: 360px;
    }
    .login .box{
        flex-direction: column-reverse;
        justify-content: center;
    }
    .login .box .one{
        width: auto;
    }
    .login .box .two{
        width: auto;
    }
    .login .box .one .from{
        width: 360px;
        margin: 0 auto ;
        margin-top: 30px;
    }
    .login .box .one h1 {
        font-size: 20px; 
        text-align: center;
        
    }

   .login .box .two img {
	width: 250px;
	height: 250px;
	object-fit: cover;
	margin: 0 auto;
    border-radius: 100%;
  }

  .login .box .one .from .input-part .icon-eye{
    right: 20px;
    
   }




.login .box .one img {
	margin-left: 10px;
}
.login .box .one .from h4 {
	margin-left: 27px;
    padding-top: 5px;
}
.login .box .one .from p {
	margin-left: 22px;
}
}


/*================ Login  Part End =============*/

/*================ Forgot  Part Start =============*/
.forgot{
    background: #6470f3;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.forgot .forgot-item{
    background: white;
    width: 350px;
    border-radius: 10px;
    padding: 20px 0px;
}
.forgot .forgot-item h1{
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 700;
    font-size: 30px;
    color: #11175D;
    text-align: center;  
    margin-bottom: 10px;
}
.forgot .forgot-item p{
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #11175D;
    text-align: center;  
    margin-bottom: 20px;
}

.forgot .forgot-item .input{
    width: 280px;
    margin: 0 auto;
    position: relative;
 
}
.forgot .forgot-item .input .icon-box{
   position: absolute;
   top: 0;
   right: -11px;
   width: 40px;
   height: 100%;
   background: #11175D;
   border-radius: 2px;
   display: flex;
   justify-content: center;
   align-items: center;
   color: white;

}
.forgot .forgot-item .input input{
    width: 100%;
    border: 1px solid rgb(172, 172, 172);
    padding: 8px 5px;
    border-radius: 2px;

}
.forgot .forgot-item .btn{
    margin-top: 30px;
    display: flex;
    justify-content: center;
    gap: 15px;
}
.forgot .forgot-item button{
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 400;
    font-size: 14px;
    padding: 10px 20px;
    background: #11175D;
    color: white;
    border-radius: 5px;
    border: 0;
   cursor: pointer;
}

/*================ Forgot  Part End ===============*/



/* Sidevar  */
.routLayouts{
    display: flex;
   
}
.sidevar{
    width: 110px;
    height: 95vh;
    background:#5F35F5;
    margin: 20px;
    border-radius: 20px;
    padding: 38px 0px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.sidevar .sidevar_item img{
 cursor: pointer;
 width: 60px;
 height: 60px;
 border-radius: 50%;
 margin: 0 auto;
}
.sidevar .logout {
 width: 35px;
 height: 38px;
 cursor: pointer;
}
.crop-img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}
.sidevar .name {
 color: white;
 font-family: 'Nunito Sans', sans-serif;
 font-size: 16px;
 font-weight: 600;
 width: 100px;
 margin-bottom: 50px;
 margin-top: 5px;
 text-align: center;
}
.sidevar .sidevar_item{
    display: flex;
    justify-content: center;
    flex-direction: column;
}


.sidevar .icons{
    margin-bottom: 55px;
    display: flex;
    justify-content: center;
    font-size: 30px;
    color: white;
}
.icons-part{
    position: relative;
    z-index: 1;
}

.sidevar .active::after {
    position: absolute;
    top: -6px;
    right: -40px;
    width: 83px;
    height: 44px;
    background-color: white;
    content: "";
    z-index: -2;
    border-bottom-left-radius: 10px;
}
.sidevar .active::before {
    position: absolute;
    top: -6px;
    right: -40px;
    width: 10px;
    height: 44px;
    background-color: #5F35F5;
    content: "";
    z-index: -1;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}
.sidevar .active .icons{
    color: #5F35F5;
}

/* Sidevar  */


/* Grop List  */
.groups-item .box{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  
}

.list{
    width: 400px;
    margin: 20px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 16px;
    box-sizing: border-box;
    -webkit-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.2);
    box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.2);
    border-radius: 10px;
    position: relative;
}


.list .error{
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 800;
    color: #444444;
    font-size: 20px;
}
.scroll{
    padding-right: 10px;
    overflow-y: scroll;
    height: 175px;
}
.scroll::-webkit-scrollbar{
    width: 6px;
    background: gray;
}
.scroll::-webkit-scrollbar-thumb{
    width: 6px;
    background: linear-gradient(transparent,#0c1dde);
}

.list h2{
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    color: #111111;
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.list h3{
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    color: black;
    font-size: 18px;
}
.list p{
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    color: #4D4D4D;
    font-size: 14px;
}
.list h6{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    color: #4D4D4D;
    font-size: 12px;
}
.list button{
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    color: white;
    font-size: 16px;
    background:#5F35F5;
    padding: 2px 13px;
    border: 0;
    border-radius: 5px;
    margin-bottom: 8px;
}
/* .list .btn{
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    color: white;
    font-size: 16px;
    background:#5F35F5;
    padding: 2px 13px;
    border: 0;
    border-radius: 5px;
    margin-bottom: 8px;
    
} */
.list .delete-btn{
    padding: 2px 20px;

}

.list .list-name{
    width: 180px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}



.list .list-item{
 display: flex;
 align-items: center;
 justify-content: space-between;
 padding-bottom: 5px;
 border-bottom: 1px solid rgba(53, 52, 52, 0.4);
 margin-bottom:10px;
}
.list .list-item img{
width: 45px;
height: 45px;
border-radius: 100%;
}

.list-box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 8px;
    margin-top: 8px;
}


.input{
    position: relative;
    width:95%;
   
}
 .input .icon{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    color:rgba(0, 0, 0, 0.8);
    font-size: 20px;
    }

.input input{
    width: 100%;
   padding: 12px 8px;
   /* border: 1px solid rgba(0, 0, 0, 0.2); */
   border:0;
   border-radius: 2px;
   -webkit-box-shadow: 0px 0px 22px 3px rgba(0,0,0,0.1);
   -moz-box-shadow: 0px 0px 22px 3px rgba(0,0,0,0.1);
   box-shadow: 0px 0px 22px 3px rgba(0,0,0,0.1);
   outline: 0;
    
}
/* Grop List  */

@media (min-width: 320px) and (max-width: 556.99px){
    .modal{
        width: 100px;
    }
    .routLayouts{
        display: flex;
        flex-direction: column;
    }
    .sidevar {
        width: 100%;
        height: 50px;
        background: #5F35F5;
        margin: 0px;
        border-radius: 0px;
        padding-right: 5px;
        padding-left: 5px;
        display: flex;
        flex-direction: row;
        align-items: center; 
        justify-content: space-between;
    }
  
    .sidevar .logout {
        width: 30px;
        height: 30px;
        padding-top: 9px;
        cursor: pointer;
       }
    
    .sidevar .sidevar_item{
        display: flex;
        column-gap: 7px;
        align-items: center;
    }
    .sidevar .sidevar_item .name {
     margin-bottom: 0;
     font-size: 14px;
    }

    .sidevar img{
        margin-bottom: 0px;
        width: 60px;
       }
       .sidevar .icons{
        margin-bottom: 0;
        display: flex;
   
    }
    .routLayouts{
        justify-content: center;
    }
    .sidevar .active::before {
        width: 0px;
    }
    .sidevar .active::after {
        width: 0;
    }

    .sidevar .active .icons{
        color: white;
    }
    .list h3{
        font-family: 'Poppins', sans-serif;
        font-weight: 600;
        color: black;
        font-size: 16px;
    }
    .groups-item .box{
        justify-content: center;
    }
}


.img-preview-item{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
    margin-bottom: 20px;
}
.img-preview{
    width:100%;
    height: 100%;
}

#modal-modal-title{
margin-bottom: 20px
}

#modal-modal-description{
    margin-bottom: 15px;
}