*{
    margin: 0;
    padding: 0;
}
.box{
    display: flex;
}
a{
    text-decoration: none;
}
.btn-all{
    width: 410px;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 600;
    font-size: 20px;
    background: #11175D;
    padding: 20px 0px;
    color: white;
    border-radius: 8px;
    border: 0;
    
}
@media (min-width: 320px) and (max-width: 800.99px){
    .btn-all{
        width: 355px;    
    }
}



/*================ Registration  Part Start =============*/
.registration .box .one{
    width: 50%;
}
.registration .box .one h1{
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 700;
    font-size: 34px;
    color: #11175D;
    margin-bottom: 12px;
}
.registration .box .one p{
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 400;
    font-size: 20px;
    color: #11175D;
    margin-bottom: 34px;
}

.registration .box .one .from{
    width: 497px;
    margin-left: auto;
    margin-top: 100px;
    
}
.css-1t8l2tu-MuiInputBase-input-MuiOutlinedInput-input {
	width: 380px !important;
}
.registration .box .one .from .from-item{
 position: relative; 
}
.registration .box .one .from .from-item .icon-eye{
 position: absolute;
 top: 50%;
 transform: translateY(-50%);
 right: 120px;
 cursor: pointer; 
}
.registration .box .one .from .from-item .icon-top{
 position: absolute;
 top: 20px;
 right: 120px;
 cursor: pointer; 
}

.registration .box .one .from .input-part{
  position: relative; 
  margin-bottom: 20px; 
}
.registration .box .one .from .input-margin{
  position: relative; 
  margin-bottom: 10px; 
}
.registration .box .one .from  .alert{
    max-width: 75%
}


.registration .box .one .from h4{
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 700;
    font-size: 14px;
    color: #11175D;
    width: 80%;
    text-align: center;
    padding-top: 20px;
}
.registration .box .one .from span{
    color: orange;
}


.registration .box .two{
    width: 50%;
}


.registration .box .two img{
    height: 100vh;
    width: 100%;
    display: block;
    object-fit: cover;
}

/* Responsive  */
@media (min-width: 320px) and (max-width: 800.99px){
    .registration .box{
        flex-direction: column-reverse;
        justify-content: center;
    }
    .registration .box .one{
        width: auto;
    }
    .registration .box .two{
        width: auto;
    }
    .registration .box .one .from{
        width: 360px;
        margin: 0 auto ;
        margin-top: 30px;
        
    }
    .registration .box .one h1 {
        font-size: 20px; 
        text-align: center;
        
    }
    .registration .box .one p {
        font-size: 14px;
        text-align: center;
    }
   .registration .box .two img {
	width: 250px;
	height: 250px;
	object-fit: cover;
	margin: 0 auto;
    border-radius: 100%;
  }
  .css-1t8l2tu-MuiInputBase-input-MuiOutlinedInput-input {
	width: 325px !important;
    margin-left: 100px;
}

.registration .box .one .from .from-item .icon-eye{
    right: 40px;
   }
   .registration .box .one .from  .alert{
    max-width: 320px;
   }
   .registration .box .one .from .from-item .icon-top {
	right: 40px;
   }




}


/*================ Registration  Part End =============*/

/*================ Login  Part Start =============*/
.login .box .one{
    width: 50%;
}

.login .box .one h1{
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 700;
    font-size: 34px;
    color: #11175D;
    margin-bottom: 12px;
}


.login .box .one .from{
    width: 497px;
    margin-left: auto;
    margin-top: 100px;
    
}
.login .box .one img{
    width: 200px;
   margin-bottom: 15px;
   cursor: pointer;
    
}
.login .box .one .from .input-part{
  position: relative; 
  margin-bottom: 20px; 
}
.login .box .one .from .input-part .icon-eye{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 120px;
    cursor: pointer; 
   }
.login .box .one .from p{
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 400;
    font-size: 14px;
    color:red;
    width: 80%;
    text-align: center;
    padding-top:5px;
}
.login .box .one .from h4{
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 700;
    font-size: 14px;
    color: #11175D;
    width: 80%;
    text-align: center;
    padding-top: 20px;
}
.login .box .one .from span{
    color: orange;
}


.login .box .two{
    width: 50%;
}


.login .box .two img{
    height: 100vh;
    width: 100%;
    display: block;
    object-fit: cover;
}




/*================ Login  Part End =============*/
